/* =============================================================================================== */
/* Global  */
:root {
  --body-bgc: rgb(43, 43, 43);
  --clear-color: #eeeeee;
  --square-color: #ff1616;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--body-bgc);
  color: var(--clear-color);
  font-family: "Noto Sans", sans-serif;
}
button {
  cursor: pointer;
}
/* =============================================================================================== */
/* Logo */
#logo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #d6d6d62b;
  padding: 12px 40px;
  width: 300px;
  height: 150px;
}
#logo span {
  color: var(--square-color);
  font-weight: 800;
  font-size: 42px;
}
.tux__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tux {
  cursor: pointer;
  margin: 0 10px;
  width: 40px;
}
.tux:hover {
  transform: scale(0.95);
}
.tux:active {
  transform: scale(0.85);
}
h1 {
  font-weight: 500;
  font-size: 35px;
}
.player__input {
  margin: 10px 0;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #9d9d9d2b;
}
.play__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__container {
  margin-bottom: 30px;
}
.play__button,
.restart__button {
  background-color: var(--square-color);
  color: var(--clear-color);
  box-shadow: 0 0 5px var(--square-color);
  font-size: 24px;
  padding: 10px 50px;
  border-radius: 40px;
  font-weight: 700;
  margin-top: 10px;
}
.restart__button {
  color: var(--square-color);
  background-color: black;
  box-shadow: 0 0 5px black;
  font-size: 18px;
  padding: 8px 36px;
}
.play__button:hover {
  transform: scale(0.95);
}
.play__button:active {
  transform: scale(0.85);
}
.restart__button:hover {
  transform: scale(0.95);
}
.restart__button:active {
  transform: scale(0.85);
}
#game__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 20px;
  width: 300px;
}
.square {
  background-color: var(--square-color);
  box-shadow: 0 0 5px var(--square-color);
  width: 90px;
  height: 90px;
  margin: 10px;
  font-size: 50px;
  font-weight: 800;
  font-family: "Fredoka", sans-serif;
  color: black;
}
.square:hover {
  transform: scale(0.95);
}
.square:active {
  transform: scale(0.85);
}
#who-wins {
  margin-top: 20px;
  background-color: #9d9d9d2b;
  color: var(--clear-color);
  /* padding: 10px 20px; */
}
